body {
    font-family: 'kepler-std', serif;
    font-size: 16px;
    font-weight: 300;
    margin: 0;
 }

 /* Header stuff here */
 header {
    background-color: #F2EFDF;
    padding: 1rem 2%;
}
header h1 {
    margin: 0;
    color: #990808;
    text-align:center;
    font-size: 50px;
    font-weight: 800;
}
header p {
    margin: 0;
    color: #990808;
    letter-spacing: .5px;
    text-align: center;
    font-size: 16px;
}


/* nav stuff goes here*/

@media only screen and (max-width: 600px) {
  nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  nav a {
    display: block;
    padding: .8rem;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    border-bottom: solid 1px #990808;
    color:#40251B;
    background-color: #F2EFDF;
  }
  nav .active a {
    background-color:#40251B;
    color:#F2EFDF;
    background-image: linear-gradient(to bottom, #40251b, #1c100b);

  }
} /*end of media query*/

@media only screen and (min-width: 601px) {
 
    nav {
        background-color: #F2EFDF;
        border-bottom: 1px solid #990808;
    }
    
    nav ul {
        list-style-type: none;
        padding: 0 2vw;
        margin: 0;
        display: flex;
    }
    
    
    nav a {
        font-size: 1.1rem;
        text-decoration: none;
        color: #990808;
        font-weight: 700;
        display: block;
        padding: .83rem 2rem;
    }
    
    
    nav li.active a {
        background-color: #99080880;
        color: white;
    }
    
    nav a:hover {
        color: white;
    }
} /*end of media query*/



/* stuff for the main */
main {
    padding: 1rem 2%;
    background-color: #F2EFDF;
}

main h1 {
    color: #990808;
}

main h2 {
    color: #990808;
    margin-bottom: .2rem;
}

main p {
    color: black;
    margin: 0 0 .3rem 0;
}

main ol {
    padding: .5rem 3%;
    background-color: #F2EFDF;
}

main dl dt {
    color: #40251B;
    font-weight: 700;
}

main dl dd {
    color: black;
    font-size: .9rem;
}

main ul {
    list-style-type: circle;
}

main ul li {
    line-height: 125%;
    margin-bottom: .5rem;
    font-size: .9rem;
}

main address {
    font-style: normal;
    padding: .5rem;
    width: 12.5rem;
    border: 1px solid #990808;
    border-radius: .5rem;
}

main a {
    color: #40251B
}

main a:hover {
    color: rgb(239,0,24)
}

/* format table content here */
table {
    width: 100%;
    border-collapse: collapse;
    padding: 2rem;
    margin: auto;
}

table th {
    background-color: #40251B;
    color: #F2EFDF;
    text-align: left;
    font-size: .8rem;
    padding: .5rem 2vw;
}

table td {
    color: #40251B;
    padding: .4rem 2vw;
}

table tr:nth-child(odd) {
    background-color: #7f675e8d;
}

table tr:hover {
    background-color: #99080853;
}

/* footer stuff here */
footer {
    background-color: #F2EFDF;
    text-align: center;
    color: #990808;
    padding: 1rem 0;
    font-size: .8rem;
    width: 100%;
}

footer a {
    color: #40251B;
}

/* Image formatting stuff here */

.samhero {
    width: 100%;
    margin: 0;
}

.samhero img {
    width: 100%;
    height:auto;
    margin: 0;

}

figure.gallery {
    margin: .5rem 2% 0 0;
    }
    
    figure.gallery figcaption {
        text-align: center;
        font-size: .75rem;
        color:#990808;
    }
    
    div.gallery {
        display: flex;
        flex-wrap: wrap;
    }
    figure.gallery img:hover {
        width: 98%;
        height: auto;
        box-shadow: 0px 0px 10px black;
    }
    /* form stuff here */
.myform fieldset {
    border:#990808 solid 1px;
    border-radius: 3px;
    margin-bottom: .8rem;
}
.myform legend {
    color:#40251B;
    font-size: .8rem;
}
.myform label {
    margin: .5rem;
}
.myform label, .myform select, .myform [type=text], .myform [type=tel], .myform textarea{
 display: block;
}
.myform select, .myform select, .myform [type=text], .myform [type=tel], .myform textarea{
    border: solid 1px #990808;
    padding: .3rem;
    width: 250px;
    border-radius: .3rem;
    font-family: 'Montserrat Alternatives';
    font-weight: 200;
   }
   
   .myform textarea {
    height: 6rem;
   }
   .myform :required {
    background-color: #99080853;
   }
   .myform [type=submit]{
    background-color: #99080880;
    border: none;
    padding: 1rem 2rem;
    border-radius: .3rem;
    color: white;
    margin: 1rem 0 0 1vw;
   }

   header, nav, main, footer {
    max-width: 100%;
    margin: 0
   }